{% extends "booking/base.html" %}
{% load static %}
{% block title %} admin {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<h1>Locations</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">capacity</th>
            <th scope="col"><a href="{% url 'location_add_view' %}">Add new one</a></th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            <th scope="row">{{ location.id }}</th>
            <td>{{ location.name }}</td>
            <td>{{ location.capacity }}</td>
            <td><a href="{% url 'location_view' location.id %}">Modifie</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Resource Types</h1>
<table class="table" id="table_rt">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">
                <a href="" data-toggle="modal" data-target="#modal_add_rt">Add new one</a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for resourceType in resourceTypes %}
        <tr>
            <th scope="row">{{ resourceType.id }}</th>
            <td>{{ resourceType.name }}</td>
            <td><a href="{% url 'rt_view' resourceType.id %}">Modifie</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Resources</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Resource type</th>
            <th scope="col">word</th>
            <th scope="col">location</th>
            <th scope="col"><a href="{% url 'resource_add_view' %}">Add new one</a></th>
        </tr>
    </thead>
    <tbody>
        {% for resource in resources %}
        <tr>
            <th scope="row">{{ resource.id }}</th>
            <td>{{ resource.resource_type.name }}</td>
            <td>{{ resource.word }}</td>
            <td>{{ resource.location.name }}</td>
            <td><a href="{% url 'resource_view' resource.id %}">Modifie</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="modal_add_rt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h4 class="card-title mt-3 text-center">Modifie Resource Type</h4>
            <form id="form_add_rt" method="POST" action="{% url 'rt_add' %}">
                {% csrf_token %}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-map-marker-alt"></i> </span>
                    </div>
                    <input name="name" class="form-control" placeholder="name" type="text" required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Done </button>
                </div> <!-- form-group// -->
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'booking/js/admin.js' %}"></script>
{% endblock %}