{% extends "booking/base.html" %}
{% load static %}
{% block title %} Login {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Connect to your account</h4>
    <form id="form" method="POST" action="/booking/auth/">
        {% csrf_token %}
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input id="email" name="email" class="form-control" placeholder="email" type="text" required>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input id="password" name="password" class="form-control" placeholder="Password" type="password" required>
        </div> <!-- form-group// -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Sign In </button>
        </div> <!-- form-group// -->
        <p class="text-center">You don't have a account ? <a href="/sign-up">Create one !</a> </p>
    </form>
</article>
{% endblock %}